$color-primary: #ff9a67; 
$color-warning: #ff0000; 
$color-info: #23c2c4; 
$color-accent: #fd4b1b; 
$color-accent-light: #f8b834; 
:root{ 
    --color-primary: #ff9a67; 
    --color-warning: #ff0000; 
    --color-info: #23c2c4; 
    --color-accent: #fd4b1b; 
    --color-accent-light: #f8b834; 
}
 // NOT GENERATED CODE