$color-primary: #1f89a6; 
$color-accent: #14667d; 
$color-light-accent: #8dffdb; 
$color-warning-light: #e5582f; 
$color-warning: #c04f31; 
$color-dark-gradient-stop: #dc5f02; 
$color-light-gradient-stop: #f4a402; 
$color-light: #f5fdff; 
@mixin font-heading1{
            font-family: Montserrat;
            font-size: 3rem;
            font-weight: 400;
            ;
        }
 
@mixin font-heading3{
            font-family: Montserrat;
            font-size: 1.125rem;
            font-weight: 400;
            ;
        }
 
:root{ 
    --color-primary: #1f89a6; 
    --color-accent: #14667d; 
    --color-light-accent: #8dffdb; 
    --color-warning-light: #e5582f; 
    --color-warning: #c04f31; 
    --color-dark-gradient-stop: #dc5f02; 
    --color-light-gradient-stop: #f4a402; 
    --color-light: #f5fdff; 
}
 // NOT GENERATED CODE

// $colors-list: $color-accent $color-accent-light $color-primary $color-warning $color-info;
