$color-primary: #ed7531; 
$color-light: #b8e5f8; 
$color-primary-dark: #c2591e; 
@mixin font-heading1{
            font-family: Montserrat;
            font-size: 3rem;
            font-weight: 900;
            ;
        }
 
:root{ 
    --color-primary: #ed7531; 
    --color-light: #b8e5f8; 
    --color-primary-dark: #c2591e; 
}
 // NOT GENERATED CODE

// $colors-list: $color-accent $color-accent-light $color-primary $color-warning $color-info;
